Deliverable 2: Determine Bias of Vine Reviews

In [24]:
# Import dependencies.
import pandas as pd

In [25]:
# Read in the vine table csv file. 
vine_df = pd.read_csv("vine_table.csv")
vine_df

C:\Users\bayan\.conda\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (1) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,R10000T1NAVGE8,5.0,0.0,0.0,N,Y
1,R10002JV2P5ZLI,5.0,0.0,0.0,N,Y
2,R100042LFGCQZN,5.0,0.0,0.0,N,Y
3,R10005F2RHESA7,4.0,0.0,0.0,N,Y
4,R10005TXQQGAV3,4.0,1.0,2.0,N,Y
...,...,...,...,...,...,...
5115661,RZZZWH82GF7QR,5,3.0,3.0,N,Y
5115662,RZZZWYNKBUU9C,5,0.0,0.0,N,N
5115663,RZZZXGUSYPTXU,1,1.0,6.0,N,N
5115664,RZZZY57U6LWO9,5,0.0,0.0,N,N
5115665,RZZZYQLASC0Y5,5,0.0,0.0,N,Y

In [26]:
# Check the datatypes
vine_df.dtypes

review_id             object
star_rating           object
helpful_votes        float64
total_votes          float64
vine                  object
verified_purchase     object
dtype: object

In [27]:
# Filter the data and create a new DataFrame to retrieve all the rows where the total_votes count 
#is equal to or greater than 20 
#to pick reviews that are more likely to be helpful and to avoid having division by zero errors later on.
df20 = vine_df.loc[vine_df["total_votes"] >= 20]
df20

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
57,R1001ZGMWO4LVC,5.0,19.0,21.0,N,N
64,R100254F43EIYP,1.0,27.0,35.0,N,Y
125,R1004F6Y4DLPQ0,5.0,361.0,471.0,N,Y
140,R1004VZN471NGW,5.0,43.0,47.0,N,N
199,R1006HBH73M0YR,4.0,64.0,96.0,N,N
...,...,...,...,...,...,...
5115554,RZZWK2Q2W44QN,5,21.0,28.0,N,N
5115610,RZZY4K01042XN,5,35.0,41.0,N,Y
5115628,RZZYPFXXNQU6,1,41.0,45.0,N,Y
5115650,RZZZ6BHNNAR4I,4,49.0,56.0,N,Y
5115651,RZZZA9QW71D8C,1,27.0,33.0,N,N

In [28]:
#create a new DataFrame to retrieve all the rows where the number of helpful_votes divided by total_votes 
#is equal to or greater than 50%
df05 = df20.loc[(df1["helpful_votes"]/df1["total_votes"] >= 0.5)]
df05

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
57,R1001ZGMWO4LVC,5.0,19.0,21.0,N,N
64,R100254F43EIYP,1.0,27.0,35.0,N,Y
125,R1004F6Y4DLPQ0,5.0,361.0,471.0,N,Y
140,R1004VZN471NGW,5.0,43.0,47.0,N,N
199,R1006HBH73M0YR,4.0,64.0,96.0,N,N
...,...,...,...,...,...,...
5115554,RZZWK2Q2W44QN,5,21.0,28.0,N,N
5115610,RZZY4K01042XN,5,35.0,41.0,N,Y
5115628,RZZYPFXXNQU6,1,41.0,45.0,N,Y
5115650,RZZZ6BHNNAR4I,4,49.0,56.0,N,Y
5115651,RZZZA9QW71D8C,1,27.0,33.0,N,N

In [29]:
#create a new DataFrame that retrieves all the rows where a review was written
#as part of the Vine program (paid), vine == 'Y'
paid_reviews_df = df05.loc[df2["vine"]=="Y"]
paid_reviews_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
404,R100DIVJEGIMLA,4.0,236.0,242.0,Y,N
7196,R106V6GUNWRSSS,5.0,857.0,889.0,Y,N
13580,R10CVG6OMEJTWX,2.0,84.0,98.0,Y,N
16462,R10FLDPK9L3IQC,4.0,15.0,20.0,Y,N
26811,R10PG3HF15Q1OO,5.0,19.0,20.0,Y,N
...,...,...,...,...,...,...
5099041,RZK5FK687R2CW,1.0,27.0,38.0,Y,N
5102917,RZNUC113AX421,1.0,22.0,25.0,Y,N
5104345,RZP8CZKXNSW4Q,3.0,264.0,279.0,Y,N
5104754,RZPN5W2KQA3UW,4.0,34.0,36.0,Y,N
5110135,RZUT8OQAGWOYE,5.0,46.0,49.0,Y,N

In [30]:
#create a new DataFrame that retrieves all the rows where a review was written
#as part of the Vine program (unpaid), vine == 'N'
unpaid_reviews_df = df05.loc[df2["vine"]=="N"]
unpaid_reviews_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
57,R1001ZGMWO4LVC,5.0,19.0,21.0,N,N
64,R100254F43EIYP,1.0,27.0,35.0,N,Y
125,R1004F6Y4DLPQ0,5.0,361.0,471.0,N,Y
140,R1004VZN471NGW,5.0,43.0,47.0,N,N
199,R1006HBH73M0YR,4.0,64.0,96.0,N,N
...,...,...,...,...,...,...
5115554,RZZWK2Q2W44QN,5,21.0,28.0,N,N
5115610,RZZY4K01042XN,5,35.0,41.0,N,Y
5115628,RZZYPFXXNQU6,1,41.0,45.0,N,Y
5115650,RZZZ6BHNNAR4I,4,49.0,56.0,N,Y
5115651,RZZZA9QW71D8C,1,27.0,33.0,N,N

In [31]:
# Determine the total number of reviews, the number of 5-star reviews with written review
# and the percentage of 5-star reviews for the two types of review paid 
# number of reviews with written review
paid_reviews_no = paid_reviews_df["star_rating"].count()
# number of 5-star reviews with written review
paid_5star_no = paid_reviews_df.loc[(paid_reviews_df['star_rating']== 5)]["star_rating"].count()
# percentage of paid five star reviews.
per_5star_vine = paid_5star_no / paid_reviews_no * 100

In [32]:
# Print the results. 
print(paid_reviews_no)
print(paid_5star_no)
print(per_5star_vine)

647
224
34.62132921174652

In [33]:
# Determine the total number of reviews, the number of 5-star reviews without a written review 
# and the percentage of 5-star reviews for the two types of review unpaid
# number of reviews without a written review.
unpaid_reviews_no = unpaid_df["star_rating"].count()
# number of 5-star reviews
unpaid_5star_no = unpaid_reviews_df.loc[(unpaid_reviews_df['star_rating']== 5)]["star_rating"].count()
# percentage of unpaid five star reviews.
per_5star_not_vine = unpaid_5star_no / unpaid_reviews_no * 100

In [34]:
# Print the results. 
print(unpaid_reviews_no)
print(unpaid_5star_no)
print(per_5star_not_vine)

74113
42118
56.829436131312995